<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number_Plate</title>
    <script src="jq/jquery.js" type = "text/javascript"></script>
    <link rel="stylesheet" href="./style_sheet.css">
    <!-- <link href="/assests/style.css" rel="stylesheet" type="text/css"/> -->
</head>

<body>
    <div class="main">
        <h1>Number Plate Detection</h1>
    </div>
    <div id="body">
        <div class="container">
            <h3>Entered</h3>
            <table class="enter">
                <tr>
                    <th>Date</th>
                    <th>Number</th>
                    <th>Time</th>
                </tr>
            </table>

            <div class="scroll_bar">

                <table>
                        <% for(var i=0;i!=name.length;i++){%>
                            <tr>
                                <td><%= name[i]['DATE'] %></td>
                                <td><%= name[i]['NUMBER'] %></td> 
                                <td><%= name[i]['TIME'] %></td>
                                
                            </tr>
                        <%}%>
                    <tr>
                        <td>12</td>
                        <td>859495</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>45467</td>
                        <td>13:56</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>967495</td>
                        <td>14:00</td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>859495</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>45467</td>
                        <td>13:56</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>967495</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>859495</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>45467</td>
                        <td>13:56</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>967495</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>859495</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>45467</td>
                        <td>13:56</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>967495</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>859495</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>45467</td>
                        <td>13:56</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>967495</td>
                        <td>14:00</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="exit-container">
            <h3>Exit</h3>

            <table class="exit">
                <tr>
                    <th id="first">Entry Date</th>
                    <th>Exit Date</th>
                    <th>Number</th>
                    <th>Entry Time</th>
                    <th id="last">Exit Time</th>
                </tr>
            </table>
            
            <div class="exit-scroll">

                <table class="exit">
                        <% for(var i=0;i!=name.length;i++){%>
                            <tr>
                                <td><%= name[i]['DATE'] %></td>
                                <td><%= name[i]['NUMBER'] %></td> 
                                <td><%= name[i]['TIME'] %></td>
                                
                            </tr>
                        <%}%>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>
                    <tr>
                        <td>12:02:19</td>
                        <td>12:02:19</td>
                        <td>859495</td>
                        <td>12:30</td>
                        <td>12:30</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>

</html>